nav a {
    text-decoration: none;
}

nav button {
    background-color: #8B4513;
    color: white;
    border: none;
    padding: 10px 18px;
    margin: 5px;
    cursor: pointer;
    border-radius: 8px;
    font-size: 16px;
    transition: 0.3s;
}

nav button:hover {
    background-color: #a0522d;
}

nav button.active {
    background-color: #5c2e0f;
}
